@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$base-color: #dff386;
$color: rgba(rgb(0, 0, 0), 0.88);
$TurnsColor: rgb(55, 135, 160);
$TurnsHoverColor: rgb(42, 119, 23);

body {
  background-color: $base-color;
  color: $color;
}

.gameHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.table {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.turns {
  background-color: $TurnsColor;
  border-radius: 7px;
  border: 0;
  font-size: medium;
  font-family: "Lato", sans-serif;
  padding: 15px;
  color: white;
  width: fit-content;
}

.fade {
  display: none;
}

.finished {
  display: block;
}
